pip==19.2.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
Sphinx==1.8.5
twine==1.14.0

numpy~=1.16.2
six~=1.14.0
xarray~=0.12.1
numexpr~=2.6.9
h5py~=2.9.0
typing~=3.6.6
matplotlib
setuptools~=41.6.0

metesatpy~=0.1.0
datetime~=4.3
tqdm~=4.31.1
pysftp~=0.2.9
pandas~=0.24.2
dask~=1.1.4
tifffile~=2019.7.26
